---
layout: home
homepage: true
---


{% assign posts = site.posts | sort: 'date' | reverse %}
 {% for post in posts limit:1 %}
 <div class="jumbotron" style="background: url({{site.baseurl}}/{{ post.hero_img }}) center no-repeat; background-size: cover ; ">
 	<a href="{{site.baseurl}}{{post.url}}">
  <div class="big-title">
 	<h1>{{post.title}}</h1>
 	<div class="big-subtitle">{{post.subtitle}}</div>
 	</div></a>
</div>
{% endfor %}

{% for post in posts offset:1 %}
 {% cycle 'add row' : '<div class="row">', nil, nil, %}
	<div class="col-md-4">
		<a href="{{site.baseurl}}{{post.url}}">
			<div class="well well-post">
			 	 <div class="well-img" style="background: url({{site.baseurl}}/{{ post.hero_img }}) center no-repeat; background-size: cover ; "> </div>
			 	<h3 class="well-title">{{post.title}}</h3>
			 	<p class="well-subtitle">{{post.subtitle | truncatewords: 20}}</p>
			 	</a>
			 	<div class="well-date">{% include date-french.html %}</div>
			 	<!--  <a href="{{site.baseurl}}{{post.tags}}"><div class="well-tag"><i class="fa fa-tag" aria-hidden="true"></i> {{ post.tags }}</div></a>-->
			</div>
	</div>
{% cycle 'end row' : nil, nil, '</div>' %}
{% endfor %}
</div>
